@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

h1
{
    text-align: center;
    color: whitesmoke;
    font-size: 36pt;
}

h2
{
    text-align: center;
    color: whitesmoke;
}



.tema
{
    text-decoration: none;
    color: whitesmoke;
}




.p
{
    text-align: center;
    color: whitesmoke;
}

body
{
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
}

.body
{
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.quote
{
    padding: 10%;
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}

.quote .box
{
    opacity: 1;
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
    border-radius: 5%;
    position: relative;
    width: 400px;
    height: 200px;
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: -20px 50px 100px rgba(0, 0, 0, 0.5);;
}


.quote .bg
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.quote .box.box1:hover ~ .bg,
.quote .box.box1:hover
{
    opacity: 1;
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
}

.quote .box.box2:hover ~ .bg,
.quote .box.box2:hover
{
    opacity: 1;
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
}

.quote .box.box3:hover ~ .bg,
.quote .box.box3:hover
{
    opacity: 1;
    background: linear-gradient(95deg, #5923CC 0%, #E34FBA 100%);
}
